@page "/crear-persona"
@inject HttpClient Http 
@inject NavigationManager UriHelper

<h3>Nueva Persona</h3>

<FormularioPersona Persona="@persona" TextoBoton="Crear Persona" OnValidSubmit="@CrearNuevaPersona"/>

@code {
    Persona persona = new Persona();

    async Task CrearNuevaPersona() {

        await Http.PostJsonAsync("personas" , persona);
        UriHelper.NavigateTo("indice-personas");
    }
}
